*.bundle
*.dylib
*.gemfile
*.lock
*.log
*.o
*.so

logs

/.yardoc
/doc
/log
/pkg
/tmp
/tree-sitter
/tree-sitter-parsers
/vendor

# Build artifacts in ext/tree_sitter/
/ext/tree_sitter/Makefile
/ext/tree_sitter/extconf.h
/ext/tree_sitter/tree-sitter-*/

