name: ci

on:
  push:
    branches:
    - master
  pull_request

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.7, 3.0, 3.1, 3.2]
        os: [macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: clone tree-sitter
        run: |
          git clone https://github.com/tree-sitter/tree-sitter
      - name: build tree-sitter
        run: |
          cd tree-sitter
          make
      - name: install tree-sitter
        run: |
          cd tree-sitter
          sudo make install
      - name: deps for ubuntu
        if: ${{ matrix.os == 'ubuntu' }}
        run: |
          sudo apt update -y
          sudo apt install build-essential
          sudo ldconfig -v
      - name: bundle install
        run: |
          bundle install
      - name: compile
        run: |
          bundle exec rake compile
      - name: test
        run: |
          bundle exec rake test
